@import './css/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply text-theme-gray_1
}

.icon {
    font-size: 24px !important;
    @apply text-theme-gray_1 text-base;
}

.shadow {
    box-shadow: 0 3px 9px 1px rgba(51, 48, 60, .03), 0 9px 8px rgba(51, 48, 60, .03), 0 1px 6px 4px rgba(51, 48, 60, .03);
}

.cart {
    @apply bg-white px-6 rounded-md shadow;
}

.mx-content {
    max-width: 1440px;
}

.option-menu-item {
    @apply px-4 py-1.5 cursor-pointer hover:bg-theme-gray_0 duration-150 rounded-md text-base;
}

.text-light{
    opacity: 0.68;
    @apply text-theme-gray_2;
}

/** status theme **/
.theme-danger {
    color: #EA5455;
    background-color: #fce9e9;
}

.theme-success {
    color: #28C76F;
    background-color: #e4f8ed;
}

.theme-warning{
    color: #FF9F43;
    background-color: #fff3e7;
}

.theme-info{
    color: #00CFE8;
    background-color: #dff9fc ;
}

.theme-secondary{
    color: #A8AAAE;
    background-color: #f4f4f4;
}

.theme-primary{
    color: #7367F0;
    background-color: #edecfd;
}
/** status theme **/

@layer base {
    h1 {
        @apply font-bold text-2xl text-theme-gray_1;
    }

    h5 {
        @apply text-theme-gray_1 font-semibold text-2xl leading-8;
    }

    h5 {
        @apply text-theme-gray_1 font-semibold text-2xl leading-8;
    }

    h6 {
        @apply text-theme-gray_1 font-medium text-xl;
    }

    p {
        @apply text-theme-gray_2 leading-6 font-normal text-base;
    }

    input {
        @apply h-10 text-theme-gray_2 py-2 px-4 focus:outline-0 focus:outline-none focus:border-theme-primary focus:border-2 border border-theme-gray_3 rounded-md;
    }
}
